* {
    font-family: Tahoma, Arial, sans-serif;
    margin: 5px, 10px;
}

figcaption {
    font-size: 10pt;
}

nav a {
    text-decoration: none;
    color: #000000;
}

nav a:visited {
    color: #000000;
}

.heading {
    font-family: 'Amatic SC', Tahoma, Arial, sans-serif;
    border: 5px solid #56d0f5;
    background-color: #56d0f5; 
    border-radius: 10px;
    color: #ffffff;
    padding: 5px;
}

#top {
    font-size: 50pt;
}